.about__wrapper {
  padding: 15rem 0 10rem 0;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about .left {
  flex: 3;
}
.about .right {
  flex: 2
}

.about__subheading {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.about__span {
  position: relative;
  font-weight: 600;
  font-size: 3rem;
  padding: .5rem;
}

.about__span::before {
  content: '';
  background-color: var(--highlight-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.about__span:hover::before {
  bottom: 0;
  height: 100%;
}

.about__heading {
  font-size: 4.6rem;
  margin-bottom: 3rem;
}

.about__info {
  margin-bottom: 4rem;
}

.about__info .des__container {
  max-width: 100%;

}

.about .right img{
  border: 2px solid var(--gray-1);
  filter: grayscale(30%);
  border-radius: 12px;
}

.about__info__items {
  margin-top: 15rem;
}

.about__info__item {
  margin-bottom: 10rem;
}

.about__info__heading {
  text-align: center;
  font-size: 4.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .about__wrapper {
    padding: 10rem 0;
  }
  .about .right img {
    filter: grayscale(70%);
    
  }
  .top-section {
    flex-direction: column;
    gap: 5rem;
  }
  .about__subheading {
    font-size: 1.8rem;
  }
  .about__heading {
    font-size: 3.2rem;
  } 
  .about__span {
    font-size: 2.4rem;
  }
  .about__info__heading{
    font-size: 3.2rem;
    text-align: left;
  }
}

.aboutInfo__item {
  position: initial;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.aboutInfo__item .title {
  font-size: 2.4rem;
  text-align: center;
}

.aboutInfo__item .items {
  margin-top: 2rem;
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.aboutInfo__item .item {
  padding: 1.5rem 2rem ;
  display: flex;
  flex-direction: row;
  max-width: 500px;
  min-width: 400px;
  min-height: 77px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.aboutInfo__item .item .button {
  font-size: 1.5rem;
}

.aboutInfo__item .item .btn-div {
  margin-top: 0;
}

.aboutInfo__item .item__stars {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .aboutInfo__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .aboutInfo__item  .items {
    position: initial;
    gap: 1rem;
  }

  .aboutInfo__item .title {
    font-size: 2rem;
    text-align: left;
  }
}