
/* Basic styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  /* Palette */
  --black: black;
  --white : white;
  --deep-dark: #1E1E1E;
  --dark-bg: #46494C;
  --gray-2: #4C5C68;
  --gray-1: #c6c4c3;
  --light-gray: #DCDCDD;
  --highlight-color: #1985A1;
  --highlight-2-color: #fa8c43;
}
html{
  font-size: 10px;
  font-family: 'Roboto Mono';
  background-color: var(--dark-bg);
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
img, svg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button{
  outline: none;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin-inline: auto;
  /* width: min(90%, 70.5rem) */
  /* margin: 0 auto; */
}

/* Card styles */
.card {
  background-color:  var(--dark-bg);
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.1),
      hsla(0, 0%, 0%, 0.4)
    );
    border-radius: 12px;
    transition: .5s;
}

.card:hover {
  background-color: var(--black);
}


/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&family=Roboto+Flex:opsz@8..144&display=swap');

:root {
  --main-font: 'Roboto Flex', sans-serif;
  --title-font: 'Prompt', sans-serif;
}

html{
  font-family: var(--main-font);
  color: var(--gray-1);
}
*{
  font-family: var(--main-font);
  color: var(--gray-1);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--title-font);
}