.navBar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  opacity: 0.9;
  transition: background 0.3s ease 0s;
}

.navBar.scrolled {
  background: rgba(36, 36, 36, 0.7);
  backdrop-filter: blur(40px);
}

.navBar__list {
  opacity: 1;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.navBar__item {
  display: inline-block;
  /* border-radius: 8px; */
}

.navBar__item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--highlight-color);
  transition: 0.3s ease-in;
}

.navBar__item:hover::after {
  width: 100%;
}

.navBar__link {
  display: inline-block;
  font-family: "Roboto Flex", sans-serif;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  color: var(--gray-1);
  outline: none;
}

.active {
  color: var(--white);
}

.navBar__menu {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  cursor: pointer;
  display: none;
  outline: none;
}

.navBar__menu * {
  pointer-events: none;
}

.navBar__close {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navBar {
    padding: 0;
  }
  .hidden {
    transform: translateY(calc(-100% - var(--top)));
  }

  .navBar__menu {
    display: block;
  }

  .navBar__list {
    --top: 1rem;
    top: var(--top);
    padding: 2rem;
    width: 90%;
    max-width: 250px;
    position: absolute;
    right: 1rem;
    border-radius: 20px;
    transition: 0.3s ease transform;
    background-color: var(--highlight-color);
    /* background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    /* animation: animatedBackground 5s linear infinite alternate; */
  }

  .navBar__close {
    display: block;
    width: 3rem;
    margin: 0 0 0 auto;
    cursor: pointer;
  }

  .navBar__close * {
    pointer-events: none;
  }

  .navBar__item {
    display: block;
    margin-bottom: 4rem;
  }

  .navBar__item::after {
    display: none;
  }
}
