
.projects__container {
  padding: 10rem 0;
}

.projects{
  margin-top: 5rem;
  display: flex;
  gap: 3rem;
}

.projectItem__img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 12px;
  display: inline-block;
  border: 3p solid var(--gray-2);
  transition: .5s;
  filter: grayscale(75%);
}

.projectItem__img:hover {
  filter: grayscale(0);
}

.projectItem__img img {
  height: 100%;
}

.projectItem__info {
  margin-top: 1rem;
  background-color:  var(--dark-bg);
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.1),
      hsla(0, 0%, 0%, 0.4)
    );
  padding: 1rem;
  border-radius: 12px;
  transition: .5s;
  min-height: 260px;
}

.projectItem__info:hover {
  background-color: var(--black);
}

.projectItem__title {
  font-size: 2.2rem;
  font-family: var(--title-font);
}

.projectItem__des {
  font-size: 1.6rem;
  font-family: var(--main-font);
  margin-top: 1rem;
  min-height: 100px;
}

.projectItem__links {
  display: flex;
  justify-content: center;
}

.projectItem__btn {
  text-align: center;
  border: 2px solid var(--gray-1);
  padding: 1rem 2rem;
  
  display: inline-block;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin: 2rem 0rem;
  color: var(--hihglight-color);
  transition: .5s;
  cursor: pointer;
  width: 100%;
}

.projectItem__btn:first-of-type {
  border-right: none;
  margin-left: 3.5rem;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.projectItem__btn:nth-of-type(2) {
  margin-right: 3.5rem;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.projectItem__btn:hover {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
  color: var(--white);
  font-weight: bold;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23DCDCDD' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: animatedBackground 5s linear infinite alternate;
}

.projectItem__btn:nth-of-type(2):hover {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--highlight-color);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231985A1' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Swiper Styles */
/* try to handle this !important property */

.projects .swiper {
  padding-top: 8rem;
  max-width: 100%;
}

.projects .swiper-button-prev,
.projects .swiper-button-next {
  position: absolute;
  height: 50px ;
  width: 50px ;
  background-color:  var(--dark-bg);
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.1),
      hsla(0, 0%, 0%, 0.4)
    );
  z-index: 10;
  right: 60px ;
  left: auto ;
  top: 0 ;
  transform: translateY(50%); 
  color: var(--gray-1);
  border-radius: 8px;
  transition: .5s;
}

.projects .swiper-button-prev:hover,
.projects .swiper-button-next:hover {
  background-color: var(--black);
}

.projects .swiper-button-next {
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2rem !important;
}


@media only screen and (max-width: 768px) {
  .projectItem__img {
    height: 350px;
  }

  .projectItem__info {
    min-height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 7rem;
    gap: 5rem;
  }

  .projectItem__img {
    width: 100%;
  }
}